@import './variables.scss';

.blog-title {
  margin: 0;
  padding: 0 8px;
  color: $text-color;
  font-size: 38px;
  margin: $small-space 0;
}

.blog-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.blog-image {
  width: 100%;
  margin-bottom: 0;
}

.blog-about {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $small-space;
  padding: 0 8px;

  .info {
    display: flex;
    flex-direction: column;
    color: $label-color;
    font-style: italic;
    font-size: 14px;
  }
}

.blog-content {
  color: $text-color;
  padding: 0 8px;
}

.primary-btn {
  border: none;
  outline: none;
  background-color: $odd-color;
  color: $main-color;
  border-radius: 4px;
}

.header {
  display: flex;
  max-width: 800px;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  .logo {
    margin-bottom: 0;
    width: 150px;
  }

  .navigation {
    display: grid;
    gap: 16px;
    grid-auto-flow: column;
    
    .link {
      text-decoration: none;
      color: $odd-color;
      font-weight: bold;
    }

    .active-link {
      color: #158781;
    }
  }
}

.blog-posts-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 800px;
  margin: 32px auto;
}

.blog-post-card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .blog-post-card-image {
    width: 100%;
    height: 121px;
    margin-bottom: 0;
  }

  .blog-post-card-title {
    margin: 0;
    padding: 8px 4px;
    font-size: 20px;
    color: $text-color;
  }

  .blog-post-card-date {
    font-style: italic;
    color: $label-color;
    font-size: 14px;
  }
}